In [2]:
import numpy as np
import pandas as pd
#question 1(random values dataframe):
dict = {'col1':np.random.rand(4),'col2':np.random.rand(4),'col3':np.random.rand(4),'col4':np.random.rand(4)}
dfrm = pd.DataFrame(dict)
dfrm

       col1      col2      col3      col4
0  0.799759  0.926481  0.799929  0.858595
1  0.299016  0.996539  0.233925  0.564040
2  0.730998  0.685618  0.993994  0.186813
3  0.896234  0.815165  0.847076  0.352660

In [6]:
#question 2
dfrm=dfrm.rename(columns={'col1':'Random Value 1','col2':'Random Value 2','col3':'Random Value 3','col4':'Random Value 4'})
dfrm

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.799759        0.926481        0.799929        0.858595
1        0.299016        0.996539        0.233925        0.564040
2        0.730998        0.685618        0.993994        0.186813
3        0.896234        0.815165        0.847076        0.352660

In [7]:
#question 3
dfrm.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.681502        0.855951        0.718731        0.490527
std          0.263843        0.135912        0.333602        0.289901
min          0.299016        0.685618        0.233925        0.186813
25%          0.623003        0.782778        0.658428        0.311198
50%          0.765379        0.870823        0.823503        0.458350
75%          0.823878        0.943996        0.883805        0.637679
max          0.896234        0.996539        0.993994        0.858595

In [15]:
#question 4
nulvalsAll = dfrm.isnull()
nulssum=nulvalsAll.sum()
print(nulvalsAll,"\n")
print(nulssum,'\n')
print('type of col1 : ',dfrm['Random Value 1'].dtype)
print('type of col2 : ',dfrm['Random Value 2'].dtype)
print('type of col3 : ',dfrm['Random Value 3'].dtype)
print('type of col4 : ',dfrm['Random Value 4'].dtype)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

type of col1 :  float64
type of col2 :  float64
type of col3 :  float64
type of col4 :  float64

In [23]:
#question 5
#location method
print(dfrm.loc[:,['Random Value 2','Random Value 3']],'\n')
# iloc method
print(dfrm.iloc[:,1:3])

   Random Value 2  Random Value 3
0        0.926481        0.799929
1        0.996539        0.233925
2        0.685618        0.993994
3        0.815165        0.847076

   Random Value 2  Random Value 3
0        0.926481        0.799929
1        0.996539        0.233925
2        0.685618        0.993994
3        0.815165        0.847076